@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


h1 {
  color: #fff;
  font-size: 25px !important;

}

h5 {
  color: #fff;
  font-size: 25px !important;
  margin-bottom: 12px;
}

h2 {
  color: #fff;
  font-size: 25px !important;
}


:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */


.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}


.app {
  width: 100%;
  max-width: 1280px;
  height: 88vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 35px !important;
  color: v#A8D0E6;
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}

.app-droplist {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-header-button {
  background-color: #ffffff00;
  border: none;
  border-radius: 10px;
  color: rgb(235, 163, 69);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*==============================
=>  Project list Styles
================================*/

.projects-column {
  margin: 20px 0px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 900;
  width: 50%;
}

.project-edit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.project-edit-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 15px;
}


/*==============================
=>  Project Styles
================================*/

.project-list-item h1 {
  font-size: 50px !important;
  padding-top: 30px;
  padding-bottom: 10px;
}

.project-list-item h3 {
  font-size: 32px !important;
  font-weight: 100;
  padding: 23px 0px;
}

.project-list-item p {
  font-size: 20px !important;
  font-weight: 100;
  padding-left: 0px;
  padding-bottom: 15px;
}

.project-list-item {
  border: 1px solid transparent;
  margin: 0px 60px;
  margin-bottom: 30px;
  padding: 8px 36px;
  transition: all 0.1s ease-in-out;
  background-color: rgba(55, 147, 184, 0.705);
  border-radius: 25px;
}

.project-list-item:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 25px;
}

/*==============================
=>  Task list Styles
================================*/

.tasks-list-icon {
  padding-top: 0px !important;
  font-size: 50px !important;
  padding-right: 10px !important;
  color: var(--color-main)
}

.tasks-header {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  padding-bottom: 5px;
}

.tasks-title,
.tasks-count {
  color: var(--color-main);
  font-size: 20px;
  font-weight: 600;
}

.tasks-title {
  margin-right: auto;
}

.tasks-count {
  font-size: 22px;
  color: var(--color-gray);
}

.task-todo {
  background-color: rgb(221, 105, 125) !important;
  border-radius: 25px;
}

.task-ongoing {
  background-color: rgb(179, 173, 95) !important;
  border-radius: 25px;
}

.task-completed {
  background-color: #374785 !important;
  border-radius: 25px;
}

.task-reviewed {
  background-color: #61892F !important;
  border-radius: 25px;
}

.tasks-list-all {
  display: flex;
  justify-content: space-between;
}

.tasks-column {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 900;
  width: 25%;
}

.tasks-list {
  margin: 16px 0;
  height: 75vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  
}

.tasks-list::-webkit-scrollbar {
  display: none;
}

.tasks-list-item {
  border: 1px solid transparent;
  margin-bottom: 12px;
  padding: 8px 36px;
  transition: all 0.1s ease-in-out;
}

.tasks-list-item p, span {
  font-size: 16px !important;
  color: white !important;
  display: inline-block;
  margin-right: 8px;
  font-weight: 600;
}

.tasks-list-item:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 25px;
}

.tasks-list-item h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
}


.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.tasks-arrows {
  display: flex;
  padding: 0px 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}


.floating-button > svg {
  fill: var(--color-bg);
}

/*==============================
=>  Task Styles
================================*/

.task-header {
  display: flex;
  align-items: center;
  justify-content: start;
  color:rgb(255, 255, 255);
  padding: 10px;
}

.task-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.task-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.task-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.task-detail {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 24px;
}

.task-droplist {
  font-size: 20px;
  color: black;
}

.task textarea {
  background-color: var(--color-lighter);
  font-size: 20px;
  border-style: inset;
  padding: 16px 12px;
  width: 70%;
  height: 10vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.task-textarea-title {
  height: 50px !important;
  width: 40% !important;
}

.task textarea:active,
.task textarea:focus {
  outline: none;
  border: none;
}

.task textarea::-webkit-scrollbar {
  display: none;
}